
      #grandparent {
        width: 950px;
        height: 300px;
        background-color: #F6B7AD;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        border-radius: 5px;
      }

      #parent {
        width: 850px;
        height: 200px;
        background-color: #CFE5FF;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        border-radius: 5px;
        margin: 20px;
      }

      #child {
        width: 100px;
        height: 50px;
        background-color: lightcoral;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin: 5px;
       

      }
     #output {
  margin-top: 20px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  height: auto;          /* ⭐ fit to content */
  align-self: flex-start; /* ⭐ prevent stretch */
}

     #h{
        display: flex;
        justify-content: space-between;
        
        width: 100%;
        
    }
    button {
        width: 100px;
        height: 50px;
        font-size: 16px;
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        border: 1px solid black;
        border-radius: 5px;
        margin: 10px;
    }
    h4{
        margin-left: 10px;
    }
    #log{
        margin: 10px;
        padding: 10px;
        
         
        border: 1px solid black;
        border-radius: 5px;
        background-color: #f0f0f0;
    }
   


      #container {
        
        min-height: 100vh;
        display: flex;
        justify-content: space-around; 
       
       
      }
  